<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @schedule.schedule_id %>
</p>

<p>
  <strong>Schedule title:</strong>
  <%= @schedule.schedule_title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @schedule.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @schedule.end %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @schedule.facility_type %>
</p>

<p>
  <strong>Room name:</strong>
  <%= @schedule.room_name %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
